@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #fafafa;
  --primary-light: #fff;
  --primary-dark: #e5e5e5;
  --yellow: #fbc02d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}